.vs/
CH-Libraries/
packages/
testing/
TwitchChat/bin/
TwitchChat/obj/
TwitchChat/Properties/
TwitchChat/App.config
TwitchChat/packages.config
KeyboardHero/
HighwayRaise/bin/
HighwayRaise/obj/
HighwayRaise/Properties/
HighwayRaise/App.config
HighwayRaise/packages.config
ChorusTweak/bin/
ChorusTweak/obj/
ChorusTweak/Properties/
ChorusTweak/App.config
ChorusTweak/packages.config
BepinexDebugTweak/
DebugTweak/
ExtraLyrics/