.vs/
CH-Libraries/
packages/
testing/
TwitchChat/bin/
TwitchChat/obj/
TwitchChat/Properties/
TwitchChat/App.config
TwitchChat/packages.config
KeyboardHero/
HighwayRaise/bin/
HighwayRaise/obj/
HighwayRaise/Properties/
HighwayRaise/App.config
HighwayRaise/packages.config
ChorusTweak/bin/
ChorusTweak/obj/
ChorusTweak/Properties/
ChorusTweak/App.config
ChorusTweak/packages.config
BepinexDebugTweak/
DebugTweak/
ExtraLyrics/bin/
ExtraLyrics/obj/
ExtraLyrics/Properties/
ExtraLyrics/App.config
ExtraLyrics/packages.config
MoveLyrics/bin/
MoveLyrics/obj/
MoveLyrics/Properties/
MoveLyrics/App.config
MoveLyrics/packages.config
ExtraLyrics_old/